/* src/app.css */
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600;800&display=swap');

@tailwind utilities;

body {
    background-color: #000000;
    font-family: 'Outfit', sans-serif;
    color: white;
    overflow-x: hidden;
}

@keyframes aurora {
    0% { transform: translate(0, 0) scale(1); opacity: 0.4; }
    50% { transform: translate(-20px, -20px) scale(1.1); opacity: 0.8; }
    100% { transform: translate(0, 0) scale(1); opacity: 0.4; }
}

.animate-aurora {
    animation: aurora 10s infinite ease-in-out alternate;
}

.scrollbar-hide::-webkit-scrollbar {
    display: none;
}
.scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
}